<script src="/js/jquery-3.3.1.min.js"></script>
<!-- https://jquery.com/download/ -->
<script src="/jquery-ui-datepicker/jquery-ui.min.js"></script>
<!-- https://jqueryui.com/download/ -->
<script src="/js/bootstrap.min.js"></script>
<!-- https://getbootstrap.com/ -->
<div class="container mt-5">
  <div class="row tm-content-row">
    <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 tm-block-col">
      <div class="tm-bg-primary-dark tm-block tm-block-products">
        <div class="tm-product-table-container">
          <table class="table table-hover tm-table-small tm-product-table">
            <thead>
              <tr>
                <th scope="col">&nbsp;</th>
                <th scope="col">PRODUCT NAME</th>
                <th scope="col">UNIT SOLD</th>
                <th scope="col">IN STOCK</th>
                <th scope="col">&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              {{#each product}}
                <tr>
                  <th scope="row"><input type="checkbox" /></th>
                  <td class="tm-product-name"><a
                      href="/admin/products/{{this._id}}"
                    >{{this.name}}</a></td>
                  <td>{{this.quantity}}</td>
                  <td>{{this.availability}}</td>
                  <td>
                    <a
                      href="#myModal"
                      class="tm-product-delete-link"
                      data-id="{{this._id}}"
                      data-bs-toggle="modal"
                      data-bs-target="#myModal"
                    >
                      <i class="far fa-trash-alt tm-product-delete-icon"></i>
                    </a>
                  </td>
                </tr>
              {{/each}}
            </tbody>

          </table>
        </div>
        <!-- table container -->
        <a
          href="products/add"
          class="btn btn-primary btn-block text-uppercase mb-3"
        >
          Add new product
        </a>
        <button
          class="btn btn-primary btn-block text-uppercase"
          data-bs-toggle="modal"
          data-bs-target="#deleteModal"
        >
          Delete selected products
        </button>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-block-col">
      <div class="tm-bg-primary-dark tm-block tm-block-product-categories">
        <h2 class="tm-block-title">Product Categories</h2>
        <div class="tm-product-table-container">
          <table class="table tm-table-small tm-product-table">
            <tbody>
              {{#each categories}}
                <tr>
                  <td class="tm-product-name"> {{this.category}}</td>
                  <td class="text-center">
                    <a
                      href=""
                      class="tm-product-delete-link"
                      data-bs-toggle="modal"
                      data-bs-target="#deleteModal"
                    >
                      <i class="far fa-trash-alt tm-product-delete-icon"></i>
                    </a>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        <!-- table container -->
        <button class="btn btn-primary btn-block text-uppercase mb-3">
          Add new category
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Alert -->

<!-- Modal HTML -->
<div id="myModal" class="modal fade">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header flex-column">
        <div class="icon-box">
          <i class="material-icons">&#xE5CD;</i>
        </div>
        <h4 class="modal-title w-100">Are you sure?</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-hidden="true"
        >&times;</button>
      </div>
      <div class="modal-body">
        <p>Do you really want to delete these records? This process cannot be
          undone.</p>
      </div>
      <div class="modal-footer justify-content-center">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >Cancel</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>