<script>
  $(document).ready(function() { $("deleteModal").modal("show"); });
</script>
<div class="container mt-5">
  <div class="row tm-content-row">
    <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 tm-block-col">
      <div class="tm-bg-primary-dark tm-block tm-block-products">
        <div class="tm-product-table-container">
          <table class="table table-hover tm-table-small tm-product-table">
            <thead>
              <tr>
                <th scope="col">&nbsp;</th>
                <th scope="col">PRODUCT NAME</th>
                <th scope="col">UNIT SOLD</th>
                <th scope="col">IN STOCK</th>
                <th scope="col">&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              {{#each product}}
                <tr>
                  <th scope="row"><input type="checkbox" /></th>
                  <td class="tm-product-name"><a
                      href="/admin/products/{{this._id}}"
                    >{{this.name}}</a></td>
                  <td>{{this.sold}}</td>
                  <td>
                    <button
                      href=""
                      class="tm-product-delete-link"
                      data-id="{{this._id}}"
                      data-toggle="modal"
                      data-target="#deleteModal"
                    >
                      <i class="far fa-trash-alt tm-product-delete-icon"></i>
                    </button>
                  </td>
                </tr>
              {{/each}}
            </tbody>

          </table>
        </div>
        <!-- table container -->
        <a
          href="products/add"
          class="btn btn-primary btn-block text-uppercase mb-3"
        >
          Add new product
        </a>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-block-col">
      <div class="tm-bg-primary-dark tm-block tm-block-product-categories">
        <h2 class="tm-block-title">Product Categories</h2>
        <div class="tm-product-table-container">
          <table class="table tm-table-small tm-product-table">
            <tbody>
              {{#each categories}}
                <tr>
                  <td class="tm-product-name">{{this.category}}</td>
                  <td class="text-center">
                    <a
                      href=""
                      class="tm-product-delete-link"
                      data-bs-toggle="modal"
                      data-bs-target="#deleteModal"
                    >
                      <i class="far fa-trash-alt tm-product-delete-icon"></i>
                    </a>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        <!-- table container -->
        <button class="btn btn-primary btn-block text-uppercase mb-3">
          Add new category
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete warming</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you really want to delete this product?
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >Close</button>
        <button
          id="deleteProduct"
          type="button"
          class="btn btn-primary"
        >Delete</button>
      </div>
    </div>
  </div>
</div>
{{! Hidden delete form }}
<form name="deleteForm" method="POST"></form>

<script>
  document.addEventListener('DOMContentLoaded', function() { 
    var productId;
    var deleteProduct = document.getElementById('deleteProduct'); 
    var deleteForm = document.forms['deleteForm'] 
    $('#deleteModal').on('show.bs.modal', function(event) 
      { 
        var button = $(event.relatedTarget); 
      productId = button.data('id'); 
      }); 
    deleteProduct.onclick = function() { 
      deleteForm.action = '/admin/products/'+productId+'?_method=DELETE'; 
      deleteForm.submit(); 
      } 
  });
</script>